<html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv = 'Content-Language' content = 'en'/>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="dist/css/bootstrap.min.css" />

  <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
  <link href="dist/css/roboto.min.css" rel="stylesheet">
  <link href="dist/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="dist/css/ripples.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-material-green-A400">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
		  <span><img src="img/Name.png" height="48px"/></span>
        </a>
      </div>

      <div class="collapse navbar-collapse text-right" id="bs-example-navbar-collapse-1">
          <div class="header-image">
              <img src="img/sendgrid.png"/>
              <span>SendGrid</span>
          </div>
          <div class="header-image">
              <img src="img/twilio.png"/>
              <span>Twilio</span>
          </div>
          <div class="header-image">
              <img src="img/github.png"/>
              <span>GitHub</span>
          </div>
          <div class="header-image braintree">
              <img src="img/braintree.png"/>
          </div>
      </div>
    </div>
  </nav>

<div class="container">
<div class="row">
<h1>Users:</h1>
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Status</th>
    <th>Merchant ID</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.bt_merchant_state %></td>
      <td><%= u.bt_merchant_id %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="row">
<h1>Policies:</h1>
<table class="table table-striped">
  <tr>
    <th>Action</th>
    <th>Name</th>
    <th>Votes (yes/no)</th>
    <th>Image URL</th>
  </tr>
  <% @policies.each do |p| %>
    <tr>
      <td><a href="/notify/<%= p.id %>">close voting</a></td>
      <td><%= p.name %></td>
      <td><%= p.votes.inject(0) { |sum, v| sum + (v.yes ? 1 : 0) } %> / <%= p.votes.inject(0) { |sum, v| sum + (v.yes ? 0 : 1) } %></td>
      <td><img src="/img/<%= p.image_url %>" style="max-height: 50px; max-width: 50px;"></td>
    </tr>
  <% end %>
</table>
</div>
</div>
</body>
</html>